<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List of assignees</title>
</head>
<body>
<a th:href="@{/todo/list}" th:text="'Home'" />
<p></p>
<a th:href="@{/assignee/list}" th:text="'List of assignees'" />
<p></p>
<a th:href="@{/assignee/addassignee}" th:text="'Add assignees'" />
<p></p>
<h1>'List for Assignees'</h1>
<table border="solid blue">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Edit</th>
    </tr>
    <tr th:each="assignee:${assignees}">
        <td th:text="${assignee.id}" ></td>
        <td th:text="${assignee.name}"></td>
        <td th:text="${assignee.email}"></td>
        <td><a th:href="@{/assignee/{id}/deleteassignee(id=${assignee.id})}" >Delete</a></td>
        <td><a th:href="@{/assignee/{id}/editassignee(id=${assignee.id})}" >Edit</a></td>
    </tr>
</table>
</body>
</html>