body {
    color:blue;
    display: inline-block;
    width: 300px;

}
body :first-child{
    color:black;
    border: solid 1px green;
}
div {
    font-weight: bold;
}
p {
    background-color: yellow;
}