div {
    border: solid 15px #4285f4;
    width: 365px;
    height: 580px;
}
p {
    font-size: 36px;
    font-family: Montserrat;
    color: #fff;
    text-align: center;
    width: 365px;
    height: 145px;
    margin: 0;
    box-sizing: border-box;
    padding-top: 40px;
}
p:nth-child(1) {
    background-color: #e67676;
}
p:nth-child(2) {
    background-color: rgb(239,240,80);
}
p:nth-child(3) {
    background-color: rgb(154,225,224);
}

p:nth-child(4) {
    background-color: rgb(99,123,221);
}